ffmpeg-python
SpeechRecognition
streamlit
python-dotenv
langchain
langchain_core
langchain_openai
langchain_community
whisper
fastapi
uvicorn
python-multipart
langchain
langchain-openai
diskcache
fastapi
uvicorn
pika
moviepy
google-cloud-speech  # For GCP transcription
SpeechRecognition
pydantic
python-dotenv
uuid
typing-extensions
gunicorn
confluent-kafka
redis==5.2.0